*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
}
header {
  height: 8vh;
  background-color: black;
  display: flex;
  align-items: center;
  padding-left: 30px;
}
header a {
  text-decoration: none;
  color: white;
  letter-spacing: 3px;
}
main {
  min-height: 82vh;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.gallery img {
  margin: 10px;
}
.gallery-img {
  text-align: center;
  margin: 20px;
}
.searchForm {
  display: flex;
  height: 40px;
  justify-content: center;
  margin: 20px;
}
.searchForm--input {
  padding: 8px 12px;
  margin: 0;
}
.searchForm--btn {
  padding: 8px 20px;
  border: none;
  text-transform: uppercase;
  margin: 0;
  background-color: #2a93d5;

  color: white;
}
.searchForm--btn:hover {
  cursor: pointer;
  background-color: #1982c4;
}
footer {
  height: 10vh;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  padding-right: 30px;
  justify-content: flex-end;
  letter-spacing: 1.3px;
}
